<div class="intro">
	<h1 class="intro-h1">
		Stop waiting for other people to build your product for you. Learn how to develop and design a prototype in less than a month.
	</h1>
	<p class="intro-p">
		Being a founder means being a <span>generalist</span>. If you're launching a tech-startup you need to have an intimate understanding of how your product functions. That means getting your hands dirty with both the <span>code</span> and the <span>design</span>.
	</p>
	<div class="email">
		<p class="email-p">Let me know when the book is ready</p>
		<input type="text">
		<div class="email-bttn-wrap">
			<a href="#" class="email-bttn">Send it</a>
		</div>
	</div>
	<div class="fold">
		<h3 class="fold-h3">
			A Generalist: MVP Design &amp; Development For Founders
		</h3>
		<div class="fold-img">
			<%= image_tag("process.png") %>
		</div>
		<p class="fold-p">
			There are two inherent problems with looking for designers and developers outside of your founding team. The first is that you're most likely on a tight budget. This means you'll end up either spending more money than you have and potentially get an end result that's not your vision or you'll spend too little and receive a non functioning, terribly designed prototype.
		</p>
		<p class="fold-p">
			Both of these issues pose a major threat to the integrity of your budding venture. Being able to develop a functioning web prototype is arguably the first big step in validating your idea. And the best part is that it's not an impossible task.
		</p>
	</div>
</div>