// Place all the styles related to the directory controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
	background-color: #b03b33;
	font-family: "Avenir", "Futura", sans-serif;
}
.static{
	h1{
		text-align: center;
		color: #fff;
		font-size: 80pt;
		margin: 100px 0 0 0;
		letter-spacing: 2px;
		line-height: 1.3;
	}
	p{
		text-align: center;
		color: #fff;
		font-size: 15pt;
		padding: 0px 0 0 0;
		letter-spacing: 2px;
		max-width: 500px;
		margin: auto;
		span{
			color: #832414
		}
	}
}
